/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 * 
 *      http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
/*
    Created on : 21-Oct-2015, 15:43:38
    Author     : Zhipeng Chang
*/

/*
 * If the min-width is defined and fixed, the width must be defined and fixed. Otherwise
 * the behaviour is strange.
 */
.book-id-format {
    height: 8px !important;
    margin-top: 3px !important;
    width: 100px;
    min-width: 80px; 
    max-width: 380px;
}

.book-name-format {
    height: 8px !important;
    margin-top: 3px !important;
    width: 100px;    
    min-width: 80px;     
    max-width: 380px;    
}

.published-date-format {
    height: 8px !important;
    margin-top: 3px !important;
    width: 100px;    
    min-width: 80px; 
    max-width: 380px;    
}

.ui-datatable-hor-scroll .ui-datatable-tablewrapper{
    overflow: auto;
    width: auto;
}

.ui-datatable.ui-widget {
    font-size: 50%;
}

.ui-paginator {
    font-size: x-small;
    width: auto;
    height: 26px;
}

.exporter-button {
  float: right;
  width: 24px;
  margin-right: 5px;
  background: none;
}

.header-calendar {
  float: left;  
  margin-right: 5px;
}

.ui-datepicker {  
  background: white;
  font-size: 70%;
}
