/web-applications/web-clients/weather-data-retrieval/target/
/data-preparation/database-initialisation-jpa/target/
/web-applications/primefaces-example/target/
/desktop-applications/simple-paint/target/
/desktop-applications/javafx-paint/target/
/system-base/concurrency-access/nbproject/private/
/system-base/concurrency-access/target/
/desktop-applications/javafx-applications/javafx-presentation/javafx-presentation/target/